/****** Object:  Database [DAYHANSA_SQL1]    Script Date: 7/18/2026 11:10:47 PM ******/
CREATE DATABASE [DAYHANSA_SQL1]  (EDITION = 'Standard', SERVICE_OBJECTIVE = 'ElasticPool', MAXSIZE = 50 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  User [NetSuiteAdmin]    Script Date: 7/18/2026 11:10:48 PM ******/
CREATE USER [NetSuiteAdmin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [dboperations]    Script Date: 7/18/2026 11:10:48 PM ******/
CREATE USER [dboperations] FROM  EXTERNAL PROVIDER  WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [CFMS]    Script Date: 7/18/2026 11:10:48 PM ******/
CREATE USER [CFMS] WITH DEFAULT_SCHEMA=[dbo]
GO
sys.sp_addrolemember @rolename = N'db_securityadmin', @membername = N'NetSuiteAdmin'
GO
sys.sp_addrolemember @rolename = N'db_ddladmin', @membername = N'NetSuiteAdmin'
GO
sys.sp_addrolemember @rolename = N'db_backupoperator', @membername = N'NetSuiteAdmin'
GO
sys.sp_addrolemember @rolename = N'db_datareader', @membername = N'NetSuiteAdmin'
GO
sys.sp_addrolemember @rolename = N'db_datawriter', @membername = N'NetSuiteAdmin'
GO
sys.sp_addrolemember @rolename = N'db_datareader', @membername = N'dboperations'
GO
sys.sp_addrolemember @rolename = N'db_datawriter', @membername = N'dboperations'
GO
sys.sp_addrolemember @rolename = N'db_securityadmin', @membername = N'CFMS'
GO
sys.sp_addrolemember @rolename = N'db_ddladmin', @membername = N'CFMS'
GO
sys.sp_addrolemember @rolename = N'db_backupoperator', @membername = N'CFMS'
GO
sys.sp_addrolemember @rolename = N'db_datareader', @membername = N'CFMS'
GO
sys.sp_addrolemember @rolename = N'db_datawriter', @membername = N'CFMS'
GO
/****** Object:  Table [dbo].[AUS_BUDGET]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUS_BUDGET](
	[Internal_ID] [varchar](250) NULL,
	[ACCOUNT] [varchar](250) NULL,
	[CUSTOMER] [varchar](250) NULL,
	[BUD_JAN] [float] NULL,
	[BUD_FEB] [float] NULL,
	[BUD_MAR] [float] NULL,
	[BUD_APR] [float] NULL,
	[BUD_MAY] [float] NULL,
	[BUD_JUN] [float] NULL,
	[BUD_JUL] [float] NULL,
	[BUD_AUG] [float] NULL,
	[BUD_SEP] [float] NULL,
	[BUD_OCT] [float] NULL,
	[BUD_NOV] [float] NULL,
	[BUD_DEC] [float] NULL,
	[YEAR] [int] NULL,
	[BDM] [varchar](255) NULL,
	[SECTOR] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USA_BUDGET]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USA_BUDGET](
	[INTERNAL_ID] [varchar](250) NULL,
	[ACCOUNT] [varchar](250) NULL,
	[CUSTOMER] [varchar](250) NULL,
	[BUD_JAN] [float] NULL,
	[BUD_FEB] [float] NULL,
	[BUD_MAR] [float] NULL,
	[BUD_APR] [float] NULL,
	[BUD_MAY] [float] NULL,
	[BUD_JUN] [float] NULL,
	[BUD_JUL] [float] NULL,
	[BUD_AUG] [float] NULL,
	[BUD_SEP] [float] NULL,
	[BUD_OCT] [float] NULL,
	[BUD_NOV] [float] NULL,
	[BUD_DEC] [float] NULL,
	[YEAR] [int] NULL,
	[BDM] [varchar](255) NULL,
	[SECTOR] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UKEU_BUDGET]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UKEU_BUDGET](
	[INTERNAL_ID] [varchar](250) NULL,
	[ACCOUNT] [varchar](250) NULL,
	[CUSTOMER] [varchar](250) NULL,
	[BUD_JAN] [float] NULL,
	[BUD_FEB] [float] NULL,
	[BUD_MAR] [float] NULL,
	[BUD_APR] [float] NULL,
	[BUD_MAY] [float] NULL,
	[BUD_JUN] [float] NULL,
	[BUD_JUL] [float] NULL,
	[BUD_AUG] [float] NULL,
	[BUD_SEP] [float] NULL,
	[BUD_OCT] [float] NULL,
	[BUD_NOV] [float] NULL,
	[BUD_DEC] [float] NULL,
	[YEAR] [int] NULL,
	[BDM] [varchar](255) NULL,
	[SECTOR] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[BUDGET_MASTER_VIEW]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[BUDGET_MASTER_VIEW] AS
SELECT *,'AUS' as Region
FROM AUS_BUDGET

UNION ALL

SELECT *,'UKEU' as Region
FROM UKEU_BUDGET

UNION ALL

SELECT *,'USA' as Region
FROM USA_BUDGET;
GO
/****** Object:  Table [dbo].[USA_FORECAST]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USA_FORECAST](
	[INTERNAL_ID] [varchar](250) NULL,
	[ACCOUNT] [varchar](250) NULL,
	[CUSTOMER] [varchar](250) NULL,
	[FOR_JAN] [float] NULL,
	[FOR_FEB] [float] NULL,
	[FOR_MAR] [float] NULL,
	[FOR_APR] [float] NULL,
	[FOR_MAY] [float] NULL,
	[FOR_JUN] [float] NULL,
	[FOR_JUL] [float] NULL,
	[FOR_AUG] [float] NULL,
	[FOR_SEP] [float] NULL,
	[FOR_OCT] [float] NULL,
	[FOR_NOV] [float] NULL,
	[FOR_DEC] [float] NULL,
	[YEAR] [int] NULL,
	[BDM] [varchar](255) NULL,
	[SECTOR] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUS_FORECAST]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUS_FORECAST](
	[INTERNAL_ID] [varchar](250) NULL,
	[ACCOUNT] [varchar](250) NULL,
	[CUSTOMER] [varchar](250) NULL,
	[FOR_JAN] [float] NULL,
	[FOR_FEB] [float] NULL,
	[FOR_MAR] [float] NULL,
	[FOR_APR] [float] NULL,
	[FOR_MAY] [float] NULL,
	[FOR_JUN] [float] NULL,
	[FOR_JUL] [float] NULL,
	[FOR_AUG] [float] NULL,
	[FOR_SEP] [float] NULL,
	[FOR_OCT] [float] NULL,
	[FOR_NOV] [float] NULL,
	[FOR_DEC] [float] NULL,
	[YEAR] [int] NULL,
	[BDM] [varchar](255) NULL,
	[SECTOR] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UKEU_FORECAST]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UKEU_FORECAST](
	[INTERNAL_ID] [varchar](250) NULL,
	[ACCOUNT] [varchar](250) NULL,
	[CUSTOMER] [varchar](250) NULL,
	[FOR_JAN] [float] NULL,
	[FOR_FEB] [float] NULL,
	[FOR_MAR] [float] NULL,
	[FOR_APR] [float] NULL,
	[FOR_MAY] [float] NULL,
	[FOR_JUN] [float] NULL,
	[FOR_JUL] [float] NULL,
	[FOR_AUG] [float] NULL,
	[FOR_SEP] [float] NULL,
	[FOR_OCT] [float] NULL,
	[FOR_NOV] [float] NULL,
	[FOR_DEC] [float] NULL,
	[YEAR] [int] NULL,
	[BDM] [varchar](255) NULL,
	[SECTOR] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[FORECAST_MASTER_VIEW]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[FORECAST_MASTER_VIEW] AS
SELECT *,'AUS' as Region
FROM AUS_FORECAST

UNION ALL

SELECT *,'UKEU' as Region
FROM UKEU_FORECAST

UNION ALL

SELECT *,'USA' as Region
FROM USA_FORECAST;
GO
/****** Object:  Table [dbo].[ACS_ITEM_360]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACS_ITEM_360](
	[LOCATION] [varchar](max) NULL,
	[NAME] [varchar](max) NULL,
	[ITEM_RATING] [varchar](max) NULL,
	[ON_HAND_QUANTITY] [varchar](max) NULL,
	[ON_SO] [varchar](max) NULL,
	[ON_PO] [varchar](max) NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[SALES_3_MONTHS] [varchar](max) NULL,
	[SALES_2_MONTHS] [varchar](max) NULL,
	[SALES_1_MONTH] [varchar](max) NULL,
	[MTD] [varchar](max) NULL,
	[3_MONTH_AVG] [varchar](max) NULL,
	[AVG_COST] [varchar](max) NULL,
	[AVG_SALES_PRICE] [varchar](max) NULL,
	[AVG_MARGIN] [varchar](max) NULL,
	[ARRIVAL_DATE] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BDM]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BDM](
	[Item_No] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[BDM] [nvarchar](max) NULL,
	[Rating] [nvarchar](max) NULL,
	[Jan] [nvarchar](max) NULL,
	[Feb] [nvarchar](max) NULL,
	[Mar] [nvarchar](max) NULL,
	[Apr] [nvarchar](max) NULL,
	[May] [nvarchar](max) NULL,
	[Jun] [nvarchar](max) NULL,
	[Jul] [nvarchar](max) NULL,
	[Aug] [nvarchar](max) NULL,
	[Sep] [nvarchar](max) NULL,
	[Oct] [nvarchar](max) NULL,
	[Nov] [nvarchar](max) NULL,
	[Dec] [nvarchar](max) NULL,
	[Year] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CFMS_PnL_sales_EP]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CFMS_PnL_sales_EP](
	[InvoiceNumber] [nvarchar](50) NULL,
	[Date] [nvarchar](20) NULL,
	[CustomerNumber] [nvarchar](50) NULL,
	[CustomerName] [nvarchar](255) NULL,
	[CustomerCountry] [nvarchar](100) NULL,
	[CustomerCategory] [nvarchar](100) NULL,
	[ItemCode] [nvarchar](100) NULL,
	[Quantity] [decimal](18, 4) NULL,
	[Description] [nvarchar](max) NULL,
	[UnitPrice] [decimal](18, 4) NULL,
	[RowSum] [decimal](18, 4) NULL,
	[UnitCost] [decimal](18, 4) NULL,
	[RowCost] [decimal](18, 4) NULL,
	[RowGrossProfit] [decimal](18, 4) NULL,
	[AccountNumber] [nvarchar](50) NULL,
	[AccountName] [nvarchar](255) NULL,
	[Currency] [nvarchar](20) NULL,
	[CustomerCategoryTitle] [nvarchar](255) NULL,
	[SalesmanFull] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CFMS_SO_Thismonth_EP]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CFMS_SO_Thismonth_EP](
	[SalesmanFull] [nvarchar](255) NULL,
	[DocumentNumber] [nvarchar](50) NULL,
	[CustomerNo] [nvarchar](50) NULL,
	[Date] [nvarchar](50) NULL,
	[Name] [nvarchar](255) NULL,
	[Memo] [nvarchar](max) NULL,
	[Amount] [decimal](18, 2) NULL,
	[ShipDate] [nvarchar](50) NULL,
	[ShippingCountry] [nvarchar](100) NULL,
	[Currency] [nvarchar](20) NULL,
	[CreatedDateTime] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTAINER ACTUAL]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTAINER ACTUAL](
	[DATE] [varchar](max) NULL,
	[REGION] [varchar](max) NULL,
	[CURRENCY] [varchar](max) NULL,
	[RATE] [varchar](max) NULL,
	[PO VALUE] [varchar](max) NULL,
	[DUTY] [varchar](max) NULL,
	[FREIGHT] [varchar](max) NULL,
	[EXTRAS] [varchar](max) NULL,
	[CONTAINER] [varchar](max) NULL,
	[BROKER] [varchar](max) NULL,
	[CBM] [varchar](max) NULL,
	[CONTAINER NO] [varchar](max) NULL,
	[SUPPLIER] [varchar](max) NULL,
	[REF] [varchar](max) NULL,
	[SHIP DATE] [varchar](max) NULL,
	[PO NO] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTAINER COST BUDGET]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTAINER COST BUDGET](
	[DATE] [varchar](max) NULL,
	[REGION] [varchar](max) NULL,
	[CURRENCY] [varchar](max) NULL,
	[RATE] [varchar](max) NULL,
	[PO VALUE] [varchar](max) NULL,
	[DUTY] [varchar](max) NULL,
	[FREIGHT] [varchar](max) NULL,
	[EXTRAS] [varchar](max) NULL,
	[CONTAINER] [varchar](max) NULL,
	[BROKER] [varchar](max) NULL,
	[CBM] [varchar](max) NULL,
	[CONTAINER NO] [varchar](max) NULL,
	[SUPPLIER] [varchar](max) NULL,
	[REF] [varchar](max) NULL,
	[SHIP DATE] [varchar](max) NULL,
	[PO NO] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMERS]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMERS](
	[ID] [varchar](max) NULL,
	[NAME] [varchar](max) NULL,
	[SECTOR] [varchar](max) NULL,
	[TERRITORY] [varchar](max) NULL,
	[CHANNEL] [varchar](max) NULL,
	[SHIPPING COUNTRY] [varchar](max) NULL,
	[BDM] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DemandPlanningBudget]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DemandPlanningBudget](
	[Item_no] [text] NULL,
	[Description] [text] NULL,
	[Region] [text] NULL,
	[BDM] [text] NULL,
	[Rating] [text] NULL,
	[BUD_JAN] [real] NULL,
	[BUD_FEB] [real] NULL,
	[BUD_MAR] [real] NULL,
	[BUD_APR] [real] NULL,
	[BUD_MAY] [real] NULL,
	[BUD_JUN] [real] NULL,
	[BUD_JUL] [real] NULL,
	[BUD_AUG] [real] NULL,
	[BUD_SEP] [real] NULL,
	[BUD_OCT] [real] NULL,
	[BUD_NOV] [real] NULL,
	[BUD_DEC] [real] NULL,
	[YEAR] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ERPTEST]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ERPTEST](
	[LOCATION] [varchar](max) NULL,
	[NAME] [varchar](max) NULL,
	[ITEM_RATING] [varchar](max) NULL,
	[ON_HAND_QUANTITY] [varchar](max) NULL,
	[ON_SO] [varchar](max) NULL,
	[ON_PO] [varchar](max) NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[SALES_3_MONTHS] [varchar](max) NULL,
	[SALES_2_MONTHS] [varchar](max) NULL,
	[SALES_1_MONTH] [varchar](max) NULL,
	[MTD] [varchar](max) NULL,
	[3_MONTH_AVG] [varchar](max) NULL,
	[AVG_COST] [varchar](max) NULL,
	[AVG_SALES_PRICE] [varchar](max) NULL,
	[AVG_MARGIN] [varchar](max) NULL,
	[ARRIVAL_DATE] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[forecast_training_data]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[forecast_training_data](
	[item_code] [nvarchar](max) NULL,
	[bdm_name] [varchar](max) NULL,
	[bdm_code] [nvarchar](100) NULL,
	[region] [nvarchar](max) NULL,
	[territory] [varchar](max) NULL,
	[channel] [varchar](max) NULL,
	[year_month] [nvarchar](4000) NULL,
	[monthly_qty] [decimal](38, 2) NULL,
	[transaction_count] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FX_RATE]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FX_RATE](
	[YEAR] [int] NULL,
	[MONTH] [varchar](max) NULL,
	[USD] [float] NULL,
	[EUR] [float] NULL,
	[AUD] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[General_Ledger_PowerBI]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[General_Ledger_PowerBI](
	[Account] [nvarchar](100) NULL,
	[RecordType] [nvarchar](50) NULL,
	[Date] [varchar](20) NULL,
	[DocumentNumber] [nvarchar](100) NULL,
	[Name] [nvarchar](200) NULL,
	[Amount] [decimal](18, 3) NULL,
	[AmountForeign] [decimal](18, 2) NULL,
	[Subsidiary] [nvarchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeneralLedger_PowerBI_EP]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneralLedger_PowerBI_EP](
	[Account] [nvarchar](100) NULL,
	[RecordType] [nvarchar](50) NULL,
	[Date] [nvarchar](20) NULL,
	[DocumentNumber] [nvarchar](50) NULL,
	[Name] [nvarchar](255) NULL,
	[Amount] [decimal](18, 2) NULL,
	[AmountForeign] [decimal](18, 2) NULL,
	[Subsidiary] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeneralLedger_PowerBI_EP_test]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneralLedger_PowerBI_EP_test](
	[Account] [nvarchar](100) NULL,
	[RecordType] [nvarchar](50) NULL,
	[Date] [nvarchar](20) NULL,
	[DocumentNumber] [nvarchar](50) NULL,
	[Name] [nvarchar](255) NULL,
	[Amount] [decimal](18, 2) NULL,
	[AmountForeign] [decimal](18, 2) NULL,
	[Subsidiary] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeneralLedger2024]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneralLedger2024](
	[EntryID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GL_IncomeExpense]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GL_IncomeExpense](
	[Record_Id] [int] NULL,
	[Record_Type] [varchar](50) NULL,
	[Account_ID] [int] NULL,
	[Account_Name] [varchar](100) NULL,
	[Record_Type2] [varchar](50) NULL,
	[Record_Type3] [varchar](100) NULL,
	[TRDate] [nvarchar](50) NULL,
	[TRId] [varchar](50) NULL,
	[Entity_Id] [int] NULL,
	[Entity_Name] [varchar](150) NULL,
	[Amount] [decimal](10, 2) NULL,
	[FxAmount] [decimal](10, 2) NULL,
	[Subsidiary_Id] [int] NULL,
	[Subsidiary_Name] [varchar](150) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVOICES_NEW]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICES_NEW](
	[Inv_No] [nvarchar](max) NULL,
	[Date] [nvarchar](max) NULL,
	[Customer_No] [nvarchar](max) NULL,
	[Customer_Name] [nvarchar](max) NULL,
	[Customer_Country] [nvarchar](max) NULL,
	[Customer_Category] [nvarchar](max) NULL,
	[Item_Code] [nvarchar](max) NULL,
	[Qty] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Unit_Price] [nvarchar](max) NULL,
	[Row_Sum] [nvarchar](max) NULL,
	[Unit_Cost] [nvarchar](max) NULL,
	[Row_Cost] [nvarchar](max) NULL,
	[Row_GP] [nvarchar](max) NULL,
	[Sales_AC] [nvarchar](max) NULL,
	[Account_Name] [nvarchar](max) NULL,
	[Salesman] [nvarchar](max) NULL,
	[Currency] [nvarchar](max) NULL,
	[Order_No] [nvarchar](max) NULL,
	[Customer_Category_Title] [nvarchar](max) NULL,
	[Salesman_Full] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVOICES_TEMP]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICES_TEMP](
	[Inv_No] [nvarchar](max) NULL,
	[Date] [nvarchar](max) NULL,
	[Customer_No] [nvarchar](max) NULL,
	[Customer_Name] [nvarchar](max) NULL,
	[Customer_Country] [nvarchar](max) NULL,
	[Customer_Category] [nvarchar](max) NULL,
	[Item_Code] [nvarchar](max) NULL,
	[Qty] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Unit_Price] [nvarchar](max) NULL,
	[Row_Sum] [nvarchar](max) NULL,
	[Unit_Cost] [nvarchar](max) NULL,
	[Row_Cost] [nvarchar](max) NULL,
	[Row_GP] [nvarchar](max) NULL,
	[Sales_AC] [nvarchar](max) NULL,
	[Account_Name] [nvarchar](max) NULL,
	[Currency] [nvarchar](max) NULL,
	[Customer_Category_Title] [nvarchar](max) NULL,
	[Salesman_Full] [nvarchar](max) NULL,
	[Salesman] [nvarchar](max) NULL,
	[Order_No] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVOICES_TEMP_EP]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICES_TEMP_EP](
	[Inv_No] [varchar](50) NULL,
	[Date] [varchar](20) NULL,
	[Customer_No] [varchar](50) NULL,
	[Customer_Name] [varchar](200) NULL,
	[Customer_Country] [varchar](100) NULL,
	[Customer_Category] [varchar](100) NULL,
	[Item_Code] [varchar](50) NULL,
	[Qty] [varchar](50) NULL,
	[Description] [varchar](500) NULL,
	[Unit_Price] [decimal](18, 2) NULL,
	[Row_Sum] [decimal](18, 2) NULL,
	[Unit_Cost] [decimal](18, 2) NULL,
	[Row_Cost] [decimal](18, 2) NULL,
	[Row_GP] [decimal](18, 2) NULL,
	[Sales_AC] [varchar](50) NULL,
	[Account_Name] [varchar](200) NULL,
	[Currency] [varchar](35) NULL,
	[Customer_Category_Title] [varchar](200) NULL,
	[Salesman_Full] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[item_region_lookup]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item_region_lookup](
	[Item_No] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Rating] [nvarchar](max) NULL,
	[bdm_count] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER RODUCT TABLE]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER RODUCT TABLE](
	[NAME] [varchar](max) NULL,
	[DISPLAY NAME] [varchar](max) NULL,
	[PRODUCT CATEGORY] [varchar](max) NULL,
	[PRODUCT FAMILY] [varchar](max) NULL,
	[UNIT COST] [varchar](max) NULL,
	[AVG SELLING] [varchar](max) NULL,
	[PRODUCT TYPE] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[New Product]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[New Product](
	[Description] [varchar](max) NULL,
	[Quantity] [varchar](max) NULL,
	[Date] [varchar](max) NULL,
	[Document] [nvarchar](max) NULL,
	[DocumentNo] [nvarchar](max) NULL,
	[ShipDate] [nvarchar](max) NULL,
	[Amount(Gross)] [nvarchar](max) NULL,
	[Amount (FX)] [nvarchar](max) NULL,
	[ItemCode] [nvarchar](max) NULL,
	[SalesRep] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLBudget]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLBudget](
	[FinancialRow] [nvarchar](max) NULL,
	[2026-01-01] [decimal](15, 8) NULL,
	[2026-02-28] [decimal](15, 8) NULL,
	[2026-03-31] [decimal](15, 8) NULL,
	[2026-04-30] [decimal](15, 8) NULL,
	[2026-05-31] [decimal](15, 8) NULL,
	[2026-06-30] [decimal](15, 8) NULL,
	[2026-07-31] [decimal](15, 8) NULL,
	[2026-08-31] [decimal](15, 8) NULL,
	[2026-09-30] [decimal](15, 8) NULL,
	[2026-10-31] [decimal](15, 8) NULL,
	[2026-11-30] [decimal](15, 8) NULL,
	[2026-12-31] [decimal](15, 8) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLForecast]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLForecast](
	[FinancialRow] [nvarchar](max) NULL,
	[2026-01-01] [decimal](15, 8) NULL,
	[2026-02-28] [decimal](15, 8) NULL,
	[2026-03-31] [decimal](15, 8) NULL,
	[2026-04-30] [decimal](15, 8) NULL,
	[2026-05-31] [decimal](15, 8) NULL,
	[2026-06-30] [decimal](15, 8) NULL,
	[2026-07-31] [decimal](15, 8) NULL,
	[2026-08-31] [decimal](15, 8) NULL,
	[2026-09-30] [decimal](15, 8) NULL,
	[2026-10-31] [decimal](15, 8) NULL,
	[2026-11-30] [decimal](15, 8) NULL,
	[2026-12-31] [decimal](15, 8) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALES_ORDERS_NEW]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALES_ORDERS_NEW](
	[Salesman] [varchar](250) NULL,
	[Doc_No] [varchar](250) NULL,
	[Customer_No] [varchar](250) NULL,
	[Date] [varchar](250) NULL,
	[Customer_Name] [varchar](250) NULL,
	[Description] [varchar](250) NULL,
	[Amount] [nvarchar](max) NULL,
	[Ship_Date] [varchar](250) NULL,
	[Shipping_Country] [varchar](250) NULL,
	[Currency] [varchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALES_ORDERS_TEMP]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALES_ORDERS_TEMP](
	[Salesman] [nvarchar](max) NULL,
	[Doc_No] [nvarchar](max) NULL,
	[Customer_No] [nvarchar](max) NULL,
	[Date] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Amount] [nvarchar](max) NULL,
	[Ship_Date] [nvarchar](max) NULL,
	[Customer_Name] [nvarchar](max) NULL,
	[Shipping_Country] [nvarchar](max) NULL,
	[Currency] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALES_ORDERS_TEMP_EP]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALES_ORDERS_TEMP_EP](
	[Salesman] [varchar](100) NULL,
	[Doc_No] [varchar](50) NULL,
	[Customer_No] [varchar](50) NULL,
	[Date] [date] NULL,
	[Description] [varchar](110) NULL,
	[Amount] [decimal](18, 2) NULL,
	[Ship_Date] [date] NULL,
	[Customer_Name] [varchar](200) NULL,
	[Shipping_Country] [varchar](100) NULL,
	[Currency] [varchar](35) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAVED_SEARCH]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAVED_SEARCH](
	[SALESMANFULL] [nvarchar](max) NULL,
	[DOCUMENTNUMBER] [nvarchar](max) NULL,
	[CUSTOMERNO] [nvarchar](max) NULL,
	[DATE] [nvarchar](max) NULL,
	[NAME] [nvarchar](max) NULL,
	[MEMO] [nvarchar](max) NULL,
	[AMOUNT] [nvarchar](max) NULL,
	[SHIPDATE] [nvarchar](max) NULL,
	[SHIPPINGCOUNTRY] [nvarchar](max) NULL,
	[CURRENCY] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Territory]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Territory](
	[BDM] [nvarchar](100) NULL,
	[Department] [nvarchar](100) NULL,
	[Territory] [nvarchar](100) NULL,
	[Company] [nvarchar](100) NULL,
	[Channel] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trustpilot_results]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trustpilot_results](
	[review_id] [varchar](64) NOT NULL,
	[company_name] [nvarchar](200) NULL,
	[company_page_url] [nvarchar](500) NULL,
	[business_unit_id] [varchar](64) NULL,
	[review_url] [nvarchar](500) NULL,
	[review_title] [nvarchar](500) NULL,
	[review_description] [nvarchar](max) NULL,
	[review_rating_score] [tinyint] NULL,
	[review_label] [varchar](32) NULL,
	[review_language] [varchar](16) NULL,
	[review_date] [datetime2](7) NULL,
	[review_date_of_experience] [datetime2](7) NULL,
	[review_updated_date] [datetime2](7) NULL,
	[review_submitted_date] [datetime2](7) NULL,
	[review_verification_created_date] [datetime2](7) NULL,
	[review_company_response] [nvarchar](max) NULL,
	[is_review_verified] [bit] NULL,
	[is_filtered] [bit] NULL,
	[is_pending] [bit] NULL,
	[has_dach_exclusion] [bit] NULL,
	[has_unhandled_reports] [bit] NULL,
	[review_location] [nvarchar](200) NULL,
	[reviewer_id] [varchar](64) NULL,
	[reviewer_name] [nvarchar](200) NULL,
	[reviewer_country] [varchar](8) NULL,
	[reviewer_image_url] [nvarchar](500) NULL,
	[reviewer_has_image] [bit] NULL,
	[reviewer_review_count_same_domain] [int] NULL,
	[reviewer_review_count_same_location] [int] NULL,
	[scraped_at_review_page_number] [int] NULL,
	[scraped_date_time] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YourTableName]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YourTableName](
	[Salesman] [varchar](100) NULL,
	[Doc_No] [varchar](50) NULL,
	[Customer_No] [varchar](50) NULL,
	[Date] [date] NULL,
	[Description] [varchar](255) NULL,
	[Amount] [decimal](18, 2) NULL,
	[Ship_Date] [date] NULL,
	[Customer_Name] [varchar](200) NULL,
	[Shipping_Country] [varchar](100) NULL,
	[Currency] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[CLEAR_CURRENT_YEAR]    Script Date: 7/18/2026 11:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CLEAR_CURRENT_YEAR]
AS
BEGIN
    DELETE FROM INVOICES_TEMP
    WHERE [Date] LIKE '%' + CAST(YEAR(GETDATE()) AS VARCHAR(4)) + '%';
    --Dynamically gets current year and clears all records
END
GO
